<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Student</title>
    <link rel="icon" href="https://i.postimg.cc/kGVvWqPn/edit-user-1.png">

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
      * {
      font-family: "Poppins", sans-serif;
    }
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            max-width: 400px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #3d6ef5ff;
            text-align: center;
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #333;
            font-weight: bold;
        }

        input,
        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        
        a {
            display: block;
            margin-top: 20px;
            color: #333;
            text-decoration: none;
            text-align: center;
        }

        a:hover {
            text-decoration: underline;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        button[type="submit"],
        button[type="button"] {
            width: 30%;
            background-color: #3d6ef5ff;
            color: #f2f2f2;
            font-weight: bold;
            padding: 8px 14px;
            border: none;
            font-size: 13px;
            border-radius: 5px;
            border: 2px solid #3d6ef5ff;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button[type="submit"]:hover,
        button[type="button"]:hover {
            background-color: #f2f2f2;
            color: #3d6ef5ff;
            font-weight: bold;
        }
        h2 {
            color: #3d6ef5ff;
            text-align: center;
            margin-bottom: 20px;
        }

    </style>
</head>
<body>

    <table>
    <tr>
        <td>
            <form action="/ssm/mca/requestChangeEx" method="post">
            <h2>Exam Fee Update Request</h2>
        <table>
            <tr>
                <td><label for="newName">Name :</label></td>
                <td><input type="text" id="newName" name="newName" value="{{student.name}}" readonly></td>
            </tr>
            <tr>
                <td><label for="registerNumber">Reg Number :</label></td>
                <td><input type="text" id="registerNumber" name="registerNumber" value="{{student.registerNumber}}" readonly></td>
            </tr>
            <tr>
                <td><label for="totalFee">Total Fee:</label></td>
                <td><input type="text" id="totalFee" name="totalFee" value="{{student.examTotalFee}}" readonly /></td>
            </tr>
            <tr>
                <td><label for="newExPending">Pending Fee:</label></td>
                <td><input type="text" id="newExPending" name="newExPending" value="{{student.examPendingFee}}" required /></td>
            </tr>
            <tr>
                <td><label for="newExStatus">Payment Status:</label></td>
                <td><select id="newExStatus" name="newExStatus" value="{{student.examPaymentStatus}}" required>
                        <option value="">Select Status</option>
                        <option value="Paid">Paid</option>
                        <option value="Pending">Pending</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="newPhone">Due Date :</label></td>
                <td><input type="phone" id="newPhone" name="newPhone" value="{{student.examDueDate}}" readonly></td>
            </tr>
        </table>
                <div class="button-container">
                    <button type="button" onclick="history.back()">Back</button>
                    <button type="submit" >Request</button>
                </div>

    </form>
</table>


</body>
</html>
