<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCA Student List</title>
    <link rel="icon" href="https://your-favicon-url.png">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 100%;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            overflow: auto;
        }

        h1 {
            text-align: center;
            color: #fff;
            background-color: #3d6ef5ff;
            border-radius: 5px;
            padding: 10px;
            margin: 0;
        }

        h2 {
            color: #3d6ef5ff;
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #dee2e6;
            padding: 12px;
        }

        .td {
            text-align: center;
        }

        th {
            background-color: #3d6ef5ff;
            color: #fff;
        }

        .edit-icon, .delete-icon {
            text-decoration: none;
            color: #3d6ef5ff;
            transition: color 0.3s;
        }

        .edit-icon:hover, .delete-icon:hover {
            color: #0056b3;
        }

        .btn-container {
            text-align: center;
            margin-top: 20px;
        }

        .btn {
            padding: 8px 14px;
            color: #fff;
            border: 2px solid #3d6ef5ff;
            background: #3d6ef5ff;
            font-weight: bold;
            text-decoration: none;
            font-size: 12px;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.4s, color 0.4s;
        }

        .btn:hover {
            background: #fff;
            color: #3d6ef5ff;
        }

        .back-button {
            position: absolute;
            top: 25px;
            left: 2%;
            text-decoration: none;
        }

        .back-button img {
            width: 45px;
            height: 45px;
            margin-right: 16px;
            margin-bottom: 30px;
            vertical-align: middle;
        }

        .icon-img {
            width: 25px;
            height: 25px;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>MCA STUDENTS LIST</h1>
    <a href="/ssm/mca/dashboard" class="back-button">
        <img src="https://i.postimg.cc/Ghw7c3bx/back-button-white.png" alt="Go Back">
    </a>
    <h2>MCA - I</h2>
    <table>
        <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Student ID</th>
            <th>Register Number</th>
            <th>Gender</th>
            <th>Date Of Birth</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {{#each sortedFirstYear}}
        <tr>
            <td class="td">{{inc @index}}</td>
            <td>{{name}}</td>
            <td class="td">{{studentId}}</td>
            <td class="td">{{registerNumber}}</td>
            <td class="td">{{gender}}</td>
            <td class="td">{{dob}}</td>
            <td class="td">{{phone}}</td>
            <td class="td">{{email}}</td>
            <td class="td" style="font-weight: bold;">
                <a href="/ssm/mca/studentEdit/{{_id}}" class="edit-icon">
                    <img src="https://i.postimg.cc/W3JmZGw3/user-avatar.png" alt="Edit" class="icon-img">
                </a>
            </td>
            <td class="td" style="font-weight: bold;">
                <a href="/ssm/mca/studentDelete/{{_id}}" class="delete-icon" onclick="return confirm('Are You Sure You Want To Delete ?')">
                    <img src="https://i.postimg.cc/J0VN5spQ/remove-1.png" alt="Delete" class="icon-img">
                </a>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>

    <form id="downloadForm" action="/ssm/mca/studentDownload" method="post">
        <input type="hidden" name="year" value="I">
        <input type="hidden" name="isPdf" value="true">
        <div class="btn-container">
            <button type="submit" class="btn">Download</button>
        </div>
    </form>

    <h2>MCA - II</h2>
    <table>
        <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Student ID</th>
            <th>Register Number</th>
            <th>Gender</th>
            <th>Date Of Birth</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {{#each sortedSecondYear}}
        <tr>
            <td class="td">{{inc @index}}</td>
            <td>{{name}}</td>
            <td class="td">{{studentId}}</td>
            <td class="td">{{registerNumber}}</td>
            <td class="td">{{gender}}</td>
            <td class="td">{{dob}}</td>
            <td class="td">{{phone}}</td>
            <td class="td">{{email}}</td>
            <td class="td" style="font-weight: bold;">
                <a href="/ssm/mca/studentEdit/{{_id}}" class="edit-icon">
                    <img src="https://i.postimg.cc/W3JmZGw3/user-avatar.png" alt="Edit" class="icon-img">
                </a>
            </td>
            <td class="td" style="font-weight: bold;">
                <a href="/ssm/mca/studentDelete/{{_id}}" class="delete-icon" onclick="return confirm('Are You Sure You Want To Delete ?')">
                    <img src="https://i.postimg.cc/J0VN5spQ/remove-1.png" alt="Delete" class="icon-img">
                </a>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>

    <form id="downloadForm" action="/ssm/mca/studentDownload" method="post">
        <input type="hidden" name="year" value="II">
        <input type="hidden" name="isPdf" value="true">
        <div class="btn-container">
            <button type="submit" class="btn">Download</button>
        </div>
    </form>

    <br><br>

    <div class="btn-container">
        <a class="btn" href="/ssm/mca/dashboard">< Go back!</a>
    </div>
</div>
</body>
</html>
